FORMAT: 1A

HOST: https://testmanagement.qmetry.com

# QTM APIs
QMetry Open APIs.

# Group Frequently used APIs
These are APIs that used frequently.

### Create / Update Folder [/rest/testcases/folders]
#### Create [POST]

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|parentId|Id of parent folder|Yes|
|name|Folder Name|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the parentId - For root folder | Call API 'Admin/Get info Service'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> rootFolders.TC.id </li>
        </ul>
    </li>
    <li><font size="3">for any other folder | Call API 'Testcase/List of folders'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "parentId" : 26524,
                 "name" : "Testcase Folder"
             }

+ Response 200

    + Body

            {
              "success": true,
              "code": "CO.ADD_FOLDER_SUCCESS",
              "data": [
                {
                  "id": 68269
                }
              ]
            }

+ Response 400

    + Body

            {
              "success": false,
              "code": "TC.ADD_FOLDER_FAILURE"
            }

+ Response 401

    + Body

            {
              "success": false,
              "code": "CO.INVALID_API_KEY"
            }

+ Response 500

    + Body

            {
              "success": false,
              "code": "CO.GENERAL_EXCEPTION"
            }

# Group Admin

## Get Info service [/rest/admin/project/getinfo]
### Get Info [GET]
provides all the basic information of the project like scope, types of -bugs, license details.

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body
    
+ Response 200

    + Body

            Response will return all basic information of the project.
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body 
            
            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 403

    + Body

            <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
            <HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
            <TITLE>ERROR: The request could not be satisfied</TITLE>
            </HEAD><BODY>
            <H1>403 ERROR</H1>
            <H2>The request could not be satisfied.</H2>
            <HR noshade size="1px">
            Bad request.
            
            <BR clear="all">
            <HR noshade size="1px">
            <PRE>
            Generated by cloudfront (CloudFront)
            Request ID: q9kqFTQhWc8HLuToYy_5tkdfIkigdL_Xi6fMEGeLdWD-1eqQqSjDJA==
            </PRE>
            <ADDRESS>
            </ADDRESS>
            </BODY></HTML>

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
 
## Fetch Audit Logs [/rest/admin/accesslog/list]
### Get List [POST]

**Request Body Insight**

| Parameters|Description|Required|
|--------------|---------------------|:----------:|
| fromDate |Date from which Audit Log is to be fetched |Yes|
| toDate |Date till which Audit Log is to be fetched |Yes|
| start |Start index of records  |No|
| limit |Number of records per page |No|
| page |Page number to be displayed |No|

<br><br> **NOTE:**
<ul>
    <li><font size="3">Date format of the 'fromDate' and 'toDate' is depend on format that has been configured in qtm. 
        <ul>
            <li><font size="3">To verify/update the Date Format - Go to qtm -> User Profile </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "fromDate": "09-25-2018",
              "toDate": "10-25-2018",
              "start": 0,
              "limit": 10,
              "page": 1
            }

+ Response 200

    + Body

            {"data":[{"accessLogID":285926,"actionName":"CREATE","accessDate":"10-25-2018 01:11:05","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":285000,"actionName":"CREATE","accessDate":"10-24-2018 08:25:58","accessUser":"krunal","projectName":"Sample Domain","moduleName":"ISSUE","entityKey":"SAM-IS-136","id":"117780","projectID":2,"version":"","message":"An Issue was created.","screenName":"ISSUE","userActionName":"create"},{"accessLogID":284999,"actionName":"UPDATE","accessDate":"10-24-2018 08:25:23","accessUser":"krunal","projectName":"Sample Domain","moduleName":"ISSUE","projectID":2,"message":"Issues syncing for JIRA configuration was started.","screenName":"PROJECT","userActionName":"reset-mapping"},{"accessLogID":284998,"actionName":"DELETE","accessDate":"10-24-2018 08:25:20","accessUser":"krunal","projectName":"Sample Domain","moduleName":"ISSUE","projectID":2,"message":"Create filter for JIRA configuration was started.","screenName":"PROJECT","userActionName":"save-map-field"},{"accessLogID":284954,"actionName":"CREATE","accessDate":"10-24-2018 07:29:36","accessUser":"Nidhi","projectName":"CodeSnippets","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":1098,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":284883,"actionName":"CREATE","accessDate":"10-24-2018 05:29:52","accessUser":"hiral","projectName":"Sample Domain","moduleName":"ATTACHMENT","entityKey":"","id":"","projectID":2,"message":"An Attachment was added.","screenName":"TESTCASE","userActionName":"multiple-attachment-add"},{"accessLogID":284880,"actionName":"CREATE","accessDate":"10-24-2018 05:29:04","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for TestCase.","screenName":"TESTCASE","userActionName":"unlink-rq-list-view"},{"accessLogID":284878,"actionName":"CREATE","accessDate":"10-24-2018 05:28:53","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":284877,"actionName":"CREATE","accessDate":"10-24-2018 05:28:48","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":284876,"actionName":"CREATE","accessDate":"10-24-2018 05:28:44","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"}],"total":1482}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Get Agents [/rest/admin/agent/read]
### Get List [POST]
API to fetch automation agents

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Automation Agent key>
            scope: default

    + Body

             {
                 "start" : 0,
                 "limit" : 50,
                 "page" : 1
             }

+ Response 200

    + Body

            {"total":32,"data":[{"pluginAgentId":127,"alias":"Test1","os":"Windows 10","macAdd":"28-16-AD-B3-14-E2","status":"Inactive","creationDate":"2018-10-24T05:26:33","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":125,"alias":"Temp1234","os":"Windows 10","macAdd":"28-16-AD-B3-14-E2","status":"Inactive","creationDate":"2018-10-23T08:55:57","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":124,"alias":"Temp123","os":"Windows 10","macAdd":"28-16-AD-B3-14-E2","status":"Inactive","creationDate":"2018-10-19T12:42:38","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":119,"alias":"AgentLATEST","os":"Windows 10","macAdd":"94-65-9C-80-62-36","status":"Inactive","creationDate":"2018-10-08T14:10:29","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":115,"alias":"ae1","os":"Windows 10","macAdd":"94-65-9C-80-62-36","status":"Inactive","creationDate":"2018-10-04T09:22:36","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":110,"alias":"TrialAgent","os":"Windows 10","macAdd":"E0-D5-5E-1D-21-7F","status":"Inactive","creationDate":"2018-10-08T07:20:56","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":109,"alias":"25Sep","os":"Windows 10","macAdd":"E0-D5-5E-1D-21-7F","status":"Inactive","creationDate":"2018-09-25T10:13:34","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":105,"alias":"test123","os":"Windows Server 2016","macAdd":"02-28-CF-48-3B-F0","status":"Inactive","creationDate":"2018-09-20T11:47:40","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":104,"alias":"Test1234","os":"Windows 10","macAdd":"28-16-AD-B3-14-E2","status":"Inactive","creationDate":"2018-09-20T09:04:51","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"},{"pluginAgentId":101,"alias":"Prod_Agent","os":"Windows 10","macAdd":"E0-D5-5E-1D-21-7F","status":"Inactive","creationDate":"2018-09-15T09:55:16","agentType":"QMetry","schedules":"0 Scheduled/<br/> 0 In progress","history":"History"}]}

+ Response 400

    + Body

             {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Fetch Execution statuses [/rest/admin/execution/list]
### Get List [POST]
API to list execution statuses

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|roleID|Id of role to get execution statuses specific to that role|Yes|
|showArchive|Send 'true' to show archived Execution Statuses (defaulted to false)|No|
|sort|Sort parameters - Refer JSON Schema|No|

<ul>
    <li><font size="3">To get the dropIds - Call API 'Admin/Get Info service'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> roleID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "start": 0,
              "limit": 50,
              "page": 1,
              "roleID": 5,
              "showArchive": true,
              "sort": "[{\"property\":\"weightage\",\"direction\":\"DESC\"}]"
            }
            
    + Schema
    
             "Sort" : {
                  "type" : "object",
                  "properties" : {
                    "property" : {
                      "type" : "string"
                    },
                    "direction" : {
                      "type" : "string"
                    }
                  }
                }

+ Response 200

    + Body

            [{"execStatusManagementID":10162,"name":"blocked","displayName":"Blocked","priority":3,"color":"#CCCCCC|#FFFFFF","defaultPriority":1,"defaultRunName":"blocked","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnRJREFUeNp8k81PE0EYxp+Z3ZY2FmhoSbxB9KIHtJAYDX5AAgfjRRIPJl6o/0EvnkUTE7hx8d67ByMn+YiRg6LxAB6NqEWl0ArlQ2G3uzPz+s4iFQwy2ZnN7M77e59n5h3gmFb+ervv++dbfcetEf9++DgxeNOEZkT9CnNkCDD88FvExQKBRs4Nv3p2JKC2lm/98WJpXPkqT5rgJFzIhAMLYRg0d9Kw8yL1yELPtbktG+fuAyozpaLx9ZAJDERMInP1JIT9a5SNQr3qYXN+C0EtzNMbbUPu2kHa4dPk9WHtqSGb2WbUOyGq08swfj0CkA4RbxPIXknBbZY8p/zbx93DDUC9ulsgxbKTTsNbuBGgOlWB9gKGhFEXToh0l2sBwBYKEaBSvtOhPJVzUi7aLmcRa2m4QrBhlayzkoCDGKQVmjKGVdislJt+crpDVia+dNrsbsqBdDTaLrbAbXEOQBRWp7YZsqeC2FKs2YCUQWr+RKc0HGwBQlDkVTgKmUtJxFrFAYjB6qQHbSGsQjgGxu4Xd5k4lSqRNvBX/b9epYW4DMEBCGFlko+T7XhlEyXdzXoleebGzBJXQ6m+HkL9rEcqwF2ykvZeHIbUgJXngL/GJwVdGry3uBSdApKyaFWsze00VNAfJe29AUNMA1KviUi6iqvioUp8N9ozT7yzTVkgc4ErLGnLTjOI/XJxVWbj8CssLtAwUi/0jX/oPlSJ5FM/SfPSK1Pu21Ogqd0gkd0rLJt1Z1lHmY00CzKU/f+9TK9Hu+7TNhVYTRoU1T5b4kBhNlVCjw+MLT449jbut9lHZ887VZEmIgTpcHPg4eL7o9b9FmAArEp9sJ45pQwAAAAASUVORK5CYII=","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnRJREFUeNp8k81PE0EYxp+Z3ZY2FmhoSbxB9KIHtJAYDX5AAgfjRRIPJl6o/0EvnkUTE7hx8d67ByMn+YiRg6LxAB6NqEWl0ArlQ2G3uzPz+s4iFQwy2ZnN7M77e59n5h3gmFb+ervv++dbfcetEf9++DgxeNOEZkT9CnNkCDD88FvExQKBRs4Nv3p2JKC2lm/98WJpXPkqT5rgJFzIhAMLYRg0d9Kw8yL1yELPtbktG+fuAyozpaLx9ZAJDERMInP1JIT9a5SNQr3qYXN+C0EtzNMbbUPu2kHa4dPk9WHtqSGb2WbUOyGq08swfj0CkA4RbxPIXknBbZY8p/zbx93DDUC9ulsgxbKTTsNbuBGgOlWB9gKGhFEXToh0l2sBwBYKEaBSvtOhPJVzUi7aLmcRa2m4QrBhlayzkoCDGKQVmjKGVdislJt+crpDVia+dNrsbsqBdDTaLrbAbXEOQBRWp7YZsqeC2FKs2YCUQWr+RKc0HGwBQlDkVTgKmUtJxFrFAYjB6qQHbSGsQjgGxu4Xd5k4lSqRNvBX/b9epYW4DMEBCGFlko+T7XhlEyXdzXoleebGzBJXQ6m+HkL9rEcqwF2ykvZeHIbUgJXngL/GJwVdGry3uBSdApKyaFWsze00VNAfJe29AUNMA1KviUi6iqvioUp8N9ozT7yzTVkgc4ErLGnLTjOI/XJxVWbj8CssLtAwUi/0jX/oPlSJ5FM/SfPSK1Pu21Ogqd0gkd0rLJt1Z1lHmY00CzKU/f+9TK9Hu+7TNhVYTRoU1T5b4kBhNlVCjw+MLT449jbut9lHZ887VZEmIgTpcHPg4eL7o9b9FmAArEp9sJ45pQwAAAAASUVORK5CYII="},{"execStatusManagementID":10163,"name":"failed","displayName":"Failed","priority":2,"color":"#FF6666|#FFFFFF","defaultPriority":2,"defaultRunName":"failed","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAeZJREFUeNqkk1tLG1EURverKCimaKkES62taZWEXKgatWCUxCRUm14Maii9Ydv/mQcvkL9RkjPIRMYzk5k5qw8xaUKkpfRhvRz41j4f7C2A/A+jjyIKEXqEw6g/C0RaPH8C30/g2zHm9AjztYr5/B7z8S3B00f4Iu27Bb3wjxrkc5h0GpNMEiYShCsrBBurBLV9OovzaJHWsGAwfFyFRgNTqRDG44TLywSlEubyEr9cwD/cw1uI4txKeoLul/M5aDTg+hosi6BcJigWQSlotzHn53Tiz+i83uZahCGBOT3CpFKEBwdgWX0JltUNK0Vnawt3dhbv1UvsQUEogvly+LtvqdQP0m6DUnibm7gzM+hIBLe0cYfg07tu31iMoFAYEhil8NbX0dPT3ExO4hZWRwXhhwrB0hJBPt/vjFIYpcC2Mc0mOp3GGR/H3c1wNSjwRQhr+/gvkpiLi+7UVgsvm8VdW8M0mxjbJqzXuYneR+dSwwJPRHUW5/GrRfz8NuHZGV42i45EuJmaQqdShPU6OpNA76Rpz93DEvk5tEhaRHkLUTpvdvBij/t9nYkJnLExnLkZdC6FPRAeWWVHRDkPH+CVN3D31nHzq7i7GXQujd5OjoTvPCZbRNki9Li6xepi/f0a/5FfAwDnlbiD1NTILQAAAABJRU5ErkJggg==","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAeZJREFUeNqkk1tLG1EURverKCimaKkES62taZWEXKgatWCUxCRUm14Maii9Ydv/mQcvkL9RkjPIRMYzk5k5qw8xaUKkpfRhvRz41j4f7C2A/A+jjyIKEXqEw6g/C0RaPH8C30/g2zHm9AjztYr5/B7z8S3B00f4Iu27Bb3wjxrkc5h0GpNMEiYShCsrBBurBLV9OovzaJHWsGAwfFyFRgNTqRDG44TLywSlEubyEr9cwD/cw1uI4txKeoLul/M5aDTg+hosi6BcJigWQSlotzHn53Tiz+i83uZahCGBOT3CpFKEBwdgWX0JltUNK0Vnawt3dhbv1UvsQUEogvly+LtvqdQP0m6DUnibm7gzM+hIBLe0cYfg07tu31iMoFAYEhil8NbX0dPT3ExO4hZWRwXhhwrB0hJBPt/vjFIYpcC2Mc0mOp3GGR/H3c1wNSjwRQhr+/gvkpiLi+7UVgsvm8VdW8M0mxjbJqzXuYneR+dSwwJPRHUW5/GrRfz8NuHZGV42i45EuJmaQqdShPU6OpNA76Rpz93DEvk5tEhaRHkLUTpvdvBij/t9nYkJnLExnLkZdC6FPRAeWWVHRDkPH+CVN3D31nHzq7i7GXQujd5OjoTvPCZbRNki9Li6xepi/f0a/5FfAwDnlbiD1NTILQAAAABJRU5ErkJggg=="},{"execStatusManagementID":10166,"name":"notrun","displayName":"Not Run","priority":1,"color":"#205081|#FFFFFF","defaultPriority":3,"defaultRunName":"notrun","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnJJREFUeNp0U0FrE0EYfdnEtlpLElBqg40WKjR4aKqCwUITQSj0oIIepAcvIl485Cp4FLx4COgt+AMUxFAJIRi1rXgopG2gTUVEYz1oYqk0pE2yszOzzjcxa0vqsMsyzHzve997b134z3r0/lfUalpgJgd9H1wfntvvnmv35vFy1Su5jHPG49zkPtZUxWYLRO23FFBCWCLx5O6ZagcAFdtSzqqL4WCPQOCggNsW4FygYQp8LptYXW8SUEE1iD29N65BjL3FIlyvmfAbDKXleWz//IL+XhtBHxA75cHl0S4YtghbjM9O33/jdQA0bdUZsNVjI/epibUfDMlkEov5RQgh1Csx4HNhKtwNBUAgcQeAZibaJ3ulo8eOdwzhiWvIZrPIZDKQsgUS8BsYCbh1jQYgtUkwmvmsn2Goz3ZASo3juHjlNirlMmZmXkESEykx1O9RLIRv6k4qamirlNokGHU4f4xj2P/PmdeFBs7FbmB1ZQXpdFqP43FLWJYAU6+hfVZWkdpEU6oOF4I2BvtMB+T52woOHR3FRDSqz6kRV8WSANphIatahy0mPZt5mBtFB6QiQlgtMX1er3MIi5MOMChhFBLyuV1MTGzlRvNbDgOH6w7Iy3e/kV+rofh1hxhszT+bntMuUMIoJN83mKO2VACTk5O4On4EocEDDsiL3CaWitsQXCYcGymelLDUQg3rFVOrHYlEMBIK6bEujXXj9IkuB4RzWZDSTuyJ8q2HH7yUMAoJ+UxWkdrEhmYm2ksfFXUmCmq82ELqZrXjZ6J4UsIoJOQzWUVqa8HUzESbOreLOwB2LwoJ+2sVqU2C7XfvjwADAA/Pz4QPWErtAAAAAElFTkSuQmCC","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnJJREFUeNp0U0FrE0EYfdnEtlpLElBqg40WKjR4aKqCwUITQSj0oIIepAcvIl485Cp4FLx4COgt+AMUxFAJIRi1rXgopG2gTUVEYz1oYqk0pE2yszOzzjcxa0vqsMsyzHzve997b134z3r0/lfUalpgJgd9H1wfntvvnmv35vFy1Su5jHPG49zkPtZUxWYLRO23FFBCWCLx5O6ZagcAFdtSzqqL4WCPQOCggNsW4FygYQp8LptYXW8SUEE1iD29N65BjL3FIlyvmfAbDKXleWz//IL+XhtBHxA75cHl0S4YtghbjM9O33/jdQA0bdUZsNVjI/epibUfDMlkEov5RQgh1Csx4HNhKtwNBUAgcQeAZibaJ3ulo8eOdwzhiWvIZrPIZDKQsgUS8BsYCbh1jQYgtUkwmvmsn2Goz3ZASo3juHjlNirlMmZmXkESEykx1O9RLIRv6k4qamirlNokGHU4f4xj2P/PmdeFBs7FbmB1ZQXpdFqP43FLWJYAU6+hfVZWkdpEU6oOF4I2BvtMB+T52woOHR3FRDSqz6kRV8WSANphIatahy0mPZt5mBtFB6QiQlgtMX1er3MIi5MOMChhFBLyuV1MTGzlRvNbDgOH6w7Iy3e/kV+rofh1hxhszT+bntMuUMIoJN83mKO2VACTk5O4On4EocEDDsiL3CaWitsQXCYcGymelLDUQg3rFVOrHYlEMBIK6bEujXXj9IkuB4RzWZDSTuyJ8q2HH7yUMAoJ+UxWkdrEhmYm2ksfFXUmCmq82ELqZrXjZ6J4UsIoJOQzWUVqa8HUzESbOreLOwB2LwoJ+2sVqU2C7XfvjwADAA/Pz4QPWErtAAAAAElFTkSuQmCC"},{"execStatusManagementID":10161,"name":"passed","displayName":"Passed","priority":0,"color":"#14892C|#FFFFFF","defaultPriority":4,"defaultRunName":"passed","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKfSURBVDjLpZPrS1NhHMf9O3bOdmwDCWREIYKEUHsVJBI7mg3FvCxL09290jZj2EyLMnJexkgpLbPUanNOberU5taUMnHZUULMvelCtWF0sW/n7MVMEiN64AsPD8/n83uucQDi/id/DBT4Dolypw/qsz0pTMbj/WHpiDgsdSUyUmeiPt2+V7SrIM+bSss8ySGdR4abQQv6lrui6VxsRonrGCS9VEjSQ9E7CtiqdOZ4UuTqnBHO1X7YXl6Daa4yGq7vWO1D40wVDtj4kWQbn94myPGkCDPdSesczE2sCZShwl8CzcwZ6NiUs6n2nYX99T1cnKqA2EKui6+TwphA5k4yqMayopU5mANV3lNQTBdCMVUA9VQh3GuDMHiVcLCS3J4jSLhCGmKCjBEx0xlshjXYhApfMZRP5CyYD+UkG08+xt+4wLVQZA1tzxthm2tEfD3JxARH7QkbD1ZuozaggdZbxK5kAIsf5qGaKMTY2lAU/rH5HW3PLsEwUYy+YCcERmIjJpDcpzb6l7th9KtQ69fi09ePUej9l7cx2DJbD7UrG3r3afQHOyCo+V3QQzE35pvQvnAZukk5zL5qRL59jsKbPzdheXoBZc4saFhBS6AO7V4zqCpiawuptwQG+UAa7Ct3UT0hh9p9EnXT5Vh6t4C22QaUDh6HwnECOmcO7K+6kW49DKqS2DrEZCtfuI+9GrNHg4fMHVSO5kE7nAPVkAxKBxcOzsajpS4Yh4ohUPPWKTUh3PaQEptIOr6BiJjcZXCwktaAGfrRIpwblqOV3YKdhfXOIvBLeREWpnd8ynsaSJoyESFphwTtfjN6X1jRO2+FxWtCWksqBApeiFIR9K6fiTpPiigDoadqCEag5YUFKl6Yrciw0VOlhOivv/Ff8wtn0KzlebrUYwAAAABJRU5ErkJggg==","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKfSURBVDjLpZPrS1NhHMf9O3bOdmwDCWREIYKEUHsVJBI7mg3FvCxL09290jZj2EyLMnJexkgpLbPUanNOberU5taUMnHZUULMvelCtWF0sW/n7MVMEiN64AsPD8/n83uucQDi/id/DBT4Dolypw/qsz0pTMbj/WHpiDgsdSUyUmeiPt2+V7SrIM+bSss8ySGdR4abQQv6lrui6VxsRonrGCS9VEjSQ9E7CtiqdOZ4UuTqnBHO1X7YXl6Daa4yGq7vWO1D40wVDtj4kWQbn94myPGkCDPdSesczE2sCZShwl8CzcwZ6NiUs6n2nYX99T1cnKqA2EKui6+TwphA5k4yqMayopU5mANV3lNQTBdCMVUA9VQh3GuDMHiVcLCS3J4jSLhCGmKCjBEx0xlshjXYhApfMZRP5CyYD+UkG08+xt+4wLVQZA1tzxthm2tEfD3JxARH7QkbD1ZuozaggdZbxK5kAIsf5qGaKMTY2lAU/rH5HW3PLsEwUYy+YCcERmIjJpDcpzb6l7th9KtQ69fi09ePUej9l7cx2DJbD7UrG3r3afQHOyCo+V3QQzE35pvQvnAZukk5zL5qRL59jsKbPzdheXoBZc4saFhBS6AO7V4zqCpiawuptwQG+UAa7Ct3UT0hh9p9EnXT5Vh6t4C22QaUDh6HwnECOmcO7K+6kW49DKqS2DrEZCtfuI+9GrNHg4fMHVSO5kE7nAPVkAxKBxcOzsajpS4Yh4ohUPPWKTUh3PaQEptIOr6BiJjcZXCwktaAGfrRIpwblqOV3YKdhfXOIvBLeREWpnd8ynsaSJoyESFphwTtfjN6X1jRO2+FxWtCWksqBApeiFIR9K6fiTpPiigDoadqCEag5YUFKl6Yrciw0VOlhOivv/Ff8wtn0KzlebrUYwAAAABJRU5ErkJggg=="},{"execStatusManagementID":10164,"name":"empty","displayName":"Not Applicable","priority":5,"color":"#59AFE1|#FFFFFF","defaultPriority":5,"defaultRunName":"empty","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAntJREFUeNq0U89PE0EYfe2upVDabjfbEJHQC4WChPZStT1x5OgNoyYQ4MCxieKV+BdQiye5SNTEi7EXlEPTIJgIUoUgFU8ElgJNaYCGpoT+Guebxh5Qb7rJZDMz33vzvfdmgP/wuYxG45QsX1lraGhgTU1NzGq1rTkcjilNc7ouFxsuzYcMBkOYFysDAwO41tYmSg4PD7C0uIRCoXAqSVIonT6c/RMBgZ87HCrez89D39PR1dkFi8WCSqWCXC6Hp9PTiMVi4CTDur4rSKRfbXNw1G5XzPn8GRKJBArn54hEIggGg4JEkmQEAgFkMhnout6vadrr4+PjnECTZlVV2crKZ+b1epnF0szsdjtztrQwVdPYm7dRtvFtk62tb7DFxY+sz+tjnZ1dUwJbI5D6SfPV1la8ePkKHo+H2kRfby8eT05ibGwU8XhcSDE3NsLv90OW5f46gSQZfWQYFVC7z2Zm4Ha7kUx+x9zcO4yOjGDi0YSQRjVOzUkH+Agr1wgk4We1WhUFPDrcvBXA9vY2tra2xBgcvAMuT+yT9TVMvQN5naKizdrgRJxMUVWUSiWYTCZkM0fI5/NinZtHstfrBLIsLVDOFBWBq9UKGKsim83iwcMJuFwupFJ7iDwJI3uURXIzScZH6zE2N1t/lMvl4ZOTEzNFRSQH+/u4d/e+aNvvv8H9SCKdTuPrlwQuLoqn/NDxVCqVEwT8huVsNlt6Z2fnNuV8vacHnu5uKIoiJBm53m4+T6yuolgskunjy8ufPvx2ldvbXUPcnLDVZlMoKnKbKkgztc3B/CobQxw8+7e3gI4ONz2mEOVMUZHbZBj/L3BwmIN3/+nT/SnAAPCwF8oXXS6OAAAAAElFTkSuQmCC","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAntJREFUeNq0U89PE0EYfe2upVDabjfbEJHQC4WChPZStT1x5OgNoyYQ4MCxieKV+BdQiye5SNTEi7EXlEPTIJgIUoUgFU8ElgJNaYCGpoT+Guebxh5Qb7rJZDMz33vzvfdmgP/wuYxG45QsX1lraGhgTU1NzGq1rTkcjilNc7ouFxsuzYcMBkOYFysDAwO41tYmSg4PD7C0uIRCoXAqSVIonT6c/RMBgZ87HCrez89D39PR1dkFi8WCSqWCXC6Hp9PTiMVi4CTDur4rSKRfbXNw1G5XzPn8GRKJBArn54hEIggGg4JEkmQEAgFkMhnout6vadrr4+PjnECTZlVV2crKZ+b1epnF0szsdjtztrQwVdPYm7dRtvFtk62tb7DFxY+sz+tjnZ1dUwJbI5D6SfPV1la8ePkKHo+H2kRfby8eT05ibGwU8XhcSDE3NsLv90OW5f46gSQZfWQYFVC7z2Zm4Ha7kUx+x9zcO4yOjGDi0YSQRjVOzUkH+Agr1wgk4We1WhUFPDrcvBXA9vY2tra2xBgcvAMuT+yT9TVMvQN5naKizdrgRJxMUVWUSiWYTCZkM0fI5/NinZtHstfrBLIsLVDOFBWBq9UKGKsim83iwcMJuFwupFJ7iDwJI3uURXIzScZH6zE2N1t/lMvl4ZOTEzNFRSQH+/u4d/e+aNvvv8H9SCKdTuPrlwQuLoqn/NDxVCqVEwT8huVsNlt6Z2fnNuV8vacHnu5uKIoiJBm53m4+T6yuolgskunjy8ufPvx2ldvbXUPcnLDVZlMoKnKbKkgztc3B/CobQxw8+7e3gI4ONz2mEOVMUZHbZBj/L3BwmIN3/+nT/SnAAPCwF8oXXS6OAAAAAElFTkSuQmCC"}]

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Fetch integrations [/rest/admin/integration/list/{type}]
### Get List [POST]
API to list all Integrations

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Parameters 
    + type : `all` (required, enum[all]) - Send 'all' to see all JIRA integrations
        + Default: `all`

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "start" :0,
                 "limit" :50,
                 "page" :1
             }

+ Response 200

    + Body

            {"data":[{"id":402,"name":"DataConfig JIRA","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":402,"Alias":"DataConfig JIRA","VersionId":20,"Version":"7.x.x","Integrationurl":"http://config.qmetry.com/jira","username":"admin","password":"*****","projWiseConfig":{"1364":{"ExternalProjectId":4960,"ExternalWorkspaceId":""},"837":{"ExternalProjectId":4959,"ExternalWorkspaceId":""}},"AssociatedProject":"DataConfigProject, 8.4.1","CurrentProject":"No"},{"id":374,"name":"clientjira","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":374,"Alias":"clientjira","VersionId":20,"Version":"7.x.x","Integrationurl":"https://jira.cpsi.com","username":"qmetry","password":"*****","AssociatedProject":"","CurrentProject":"No"},{"id":364,"name":"cloudjira","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":364,"Alias":"cloudjira","VersionId":22,"Version":"Cloud","Integrationurl":"https://qmetrysupport.atlassian.net","username":"kunal.gandhi","password":"*****","projWiseConfig":{"600":{"ExternalProjectId":4666,"ExternalWorkspaceId":""},"2":{"ExternalProjectId":2751,"ExternalWorkspaceId":""}},"AssociatedProject":"Test1, Sample Domain, D_8..4","CurrentProject":"No"},{"id":303,"name":"JIRA_Cloud_842","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":303,"Alias":"JIRA_Cloud_842","VersionId":22,"Version":"Cloud","Integrationurl":"https://ramde082018.atlassian.net","username":"admin","password":"*****","projWiseConfig":{"883":{"ExternalProjectId":2094,"ExternalWorkspaceId":""}},"AssociatedProject":"842","CurrentProject":"No"},{"id":292,"name":"Krunal","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":292,"Alias":"Krunal","VersionId":22,"Version":"Cloud","Integrationurl":"https://panditk1.atlassian.net","username":"admin","password":"*****","projWiseConfig":{"596":{"ExternalProjectId":2062,"ExternalWorkspaceId":""}},"AssociatedProject":"BDD Project","CurrentProject":"No"},{"id":226,"name":"Jira_Rucha","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":226,"Alias":"Jira_Rucha","VersionId":22,"Version":"Cloud","Integrationurl":"https://ruchapatel.atlassian.net","username":"admin","password":"*****","AssociatedProject":"","CurrentProject":"No"},{"id":214,"name":"tejas","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":214,"Alias":"tejas","VersionId":22,"Version":"Cloud","Integrationurl":"https://pateltejas007.atlassian.net","username":"admin","password":"*****","AssociatedProject":"","CurrentProject":"No"},{"id":170,"name":"QA83","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":170,"Alias":"QA83","VersionId":22,"Version":"Cloud","Integrationurl":"https://qmetryeval.atlassian.net","username":"dhaval.soneji@qmetry.com","password":"*****","projWiseConfig":{"483":{"ExternalProjectId":1415,"ExternalWorkspaceId":""},"484":{"ExternalProjectId":1426,"ExternalWorkspaceId":""},"519":{"ExternalProjectId":1564,"ExternalWorkspaceId":""},"522":{"ExternalProjectId":1414,"ExternalWorkspaceId":""},"561":{"ExternalProjectId":1566,"ExternalWorkspaceId":""},"610":{"ExternalProjectId":1680,"ExternalWorkspaceId":""},"606":{"ExternalProjectId":1783,"ExternalWorkspaceId":""},"864":{"ExternalProjectId":1416,"ExternalWorkspaceId":""},"862":{"ExternalProjectId":1701,"ExternalWorkspaceId":""},"657":{"ExternalProjectId":2075,"ExternalWorkspaceId":""},"800":{"ExternalProjectId":1716,"ExternalWorkspaceId":""},"897":{"ExternalProjectId":1418,"ExternalWorkspaceId":""},"899":{"ExternalProjectId":1561,"ExternalWorkspaceId":""},"898":{"ExternalProjectId":1420,"ExternalWorkspaceId":""},"910":{"ExternalProjectId":2140,"ExternalWorkspaceId":""},"845":{"ExternalProjectId":2073,"ExternalWorkspaceId":""},"601":{"ExternalProjectId":2746,"ExternalWorkspaceId":""},"1078":{"ExternalProjectId":2749,"ExternalWorkspaceId":""},"1077":{"ExternalProjectId":1568,"ExternalWorkspaceId":""},"1079":{"ExternalProjectId":2748,"ExternalWorkspaceId":""},"1190":{"ExternalProjectId":1417,"ExternalWorkspaceId":""},"1171":{"ExternalProjectId":2065,"ExternalWorkspaceId":""},"1358":{"ExternalProjectId":1679,"ExternalWorkspaceId":""},"620":{"ExternalProjectId":2106,"ExternalWorkspaceId":""}},"AssociatedProject":"83Release, Sanity_15thSep, Shreya Project, PRU_PRO_07th July_WF ON, Demo_Integration, 8.3.1, 8.3.1 second, PRU_PRO_11AUG, KT841, Project_Sprint, 8.4.1_Production, AmazonDemo, Automation841, Test Jira, 8.4.2 Production Project, BBD and 7X to 8X, JiraSprint, Sanity Testing - Sameer, New 8.4.2, Cloud_8.4.3, D_Sanity_19th May, Verify, reports_DV, AAAA","CurrentProject":"No"},{"id":151,"name":"JIRA_QA","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":151,"Alias":"JIRA_QA","VersionId":22,"Version":"Cloud","Integrationurl":"https://qanewjira.atlassian.net","username":"dhaval.soneji@qmetry.com","password":"*****","projWiseConfig":{"61":{"ExternalProjectId":1377,"ExternalWorkspaceId":""},"368":{"ExternalProjectId":1405,"ExternalWorkspaceId":""}},"AssociatedProject":"Project_823_Cloud, Automation","CurrentProject":"No"},{"id":143,"name":"Jira-MSSQL","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":143,"Alias":"Jira-MSSQL","VersionId":20,"Version":"7.x.x","Integrationurl":"http://qtm4jmssql.qmetry.com:8080","username":"admin","password":"*****","AssociatedProject":"","CurrentProject":"No"},{"id":92,"name":"Test","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":92,"Alias":"Test","VersionId":20,"Version":"7.x.x","Integrationurl":"http://qtm4jpostgres.qmetry.com:8080","username":"admin","password":"*****","projWiseConfig":{"132":{"ExternalProjectId":780,"ExternalWorkspaceId":""},"232":{"ExternalProjectId":775,"ExternalWorkspaceId":""},"677":{"ExternalProjectId":1749,"ExternalWorkspaceId":""},"772":{"ExternalProjectId":1909,"ExternalWorkspaceId":""},"163":{"ExternalProjectId":1726,"ExternalWorkspaceId":""},"909":{"ExternalProjectId":2120,"ExternalWorkspaceId":""},"608":{"ExternalProjectId":1721,"ExternalWorkspaceId":""}},"AssociatedProject":"Pravin Project, net_copy, ServerJira, Onpremise, Dashboard Trial, NEW_Report, New Project with Test","CurrentProject":"No"},{"id":88,"name":"EVALJIRA","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":88,"Alias":"EVALJIRA","VersionId":20,"Version":"7.x.x","Integrationurl":"https://evaljira.qmetry.com","username":"admin","password":"*****","projWiseConfig":{"127":{"ExternalProjectId":752,"ExternalWorkspaceId":""},"210":{"ExternalProjectId":714,"ExternalWorkspaceId":""},"225":{"ExternalProjectId":735,"ExternalWorkspaceId":""},"702":{"ExternalProjectId":715,"ExternalWorkspaceId":""}},"AssociatedProject":"Integration project, Test Project, tproject, xyz_kruti_copy","CurrentProject":"No"},{"id":86,"name":"Jira server","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":86,"Alias":"Jira server","VersionId":20,"Version":"7.x.x","Integrationurl":"https://qmetryjiraeval.qmetry.com","username":"admin","password":"*****","projWiseConfig":{"16":{"ExternalProjectId":706,"ExternalWorkspaceId":""},"107":{"ExternalProjectId":711,"ExternalWorkspaceId":""}},"AssociatedProject":"TestIntegration, QMetry Test Management","CurrentProject":"No"},{"id":82,"name":"profJira","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":82,"Alias":"profJira","VersionId":22,"Version":"Cloud","Integrationurl":"https://professionaljira.atlassian.net","username":"admin","password":"*****","projWiseConfig":{"91":{"ExternalProjectId":705,"ExternalWorkspaceId":""}},"AssociatedProject":"testimport","CurrentProject":"No"},{"id":34,"name":"JiraDemo","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":34,"Alias":"JiraDemo","VersionId":22,"Version":"Cloud","Integrationurl":"https://qmetrytestprod.atlassian.net","username":"admin","password":"*****","projWiseConfig":{"36":{"ExternalProjectId":117,"ExternalWorkspaceId":""},"85":{"ExternalProjectId":105,"ExternalWorkspaceId":""},"99":{"ExternalProjectId":700,"ExternalWorkspaceId":""},"79":{"ExternalProjectId":106,"ExternalWorkspaceId":""},"236":{"ExternalProjectId":1209,"ExternalWorkspaceId":""},"409":{"ExternalProjectId":108,"ExternalWorkspaceId":""}},"AssociatedProject":"DemoPerspective, P1, test, Jira TestDemo, KT1, JIRADemo","CurrentProject":"No"},{"id":21,"name":"CloudFrontTry","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":21,"Alias":"CloudFrontTry","VersionId":22,"Version":"Cloud","Integrationurl":"https://cloudfronttry.atlassian.net","username":"rucha.patel@infostretch.com","password":"*****","projWiseConfig":{"22":{"ExternalProjectId":60,"ExternalWorkspaceId":""},"126":{"ExternalProjectId":55,"ExternalWorkspaceId":""}},"AssociatedProject":"JIRAIntegration, Integration","CurrentProject":"No"},{"id":16,"name":"jira_cloud","Integrationsystem":"Jira","qmclass":"","IntegrationsystemId":4,"IntegrationId":16,"Alias":"jira_cloud","VersionId":22,"Version":"Cloud","Integrationurl":"https://qmetry.atlassian.net","username":"admin","password":"*****","projWiseConfig":{"17":{"ExternalProjectId":45,"ExternalWorkspaceId":""},"33":{"ExternalProjectId":16,"ExternalWorkspaceId":""},"82":{"ExternalProjectId":7,"ExternalWorkspaceId":""},"161":{"ExternalProjectId":1,"ExternalWorkspaceId":""},"173":{"ExternalProjectId":868,"ExternalWorkspaceId":""},"174":{"ExternalProjectId":869,"ExternalWorkspaceId":""},"237":{"ExternalProjectId":1473,"ExternalWorkspaceId":""}},"AssociatedProject":"QAProject_Dont Touch, Fresh, Test management, JiraIntegrationTest, Integration_project, Project2, Project1","CurrentProject":"No"}],"total":17}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch fields [/rest/admin/managefield/list]
### Get List [POST]
API to give list of fields

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|projectID|Unique identifier of project whose field list has to be obtained|No|
|isSystemFieldRequired|Send True to get System fields and false to get User fields. Defaulted to false|No|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "start" :0,
                 "limit" :50,
                 "page" :1,
                 "projectID" :1098,
                 "isSystemFieldRequired" :true
             }

+ Response 200

    + Body

            {"data":[{"label":"Summary","name":"name","fieldLength":"255","fieldType":"STRING","fieldTypeID":6,"modules":"REQUIREMENT,REQUIREMENTFOLDER,TASK,TESTCASE,TESTCASEFOLDER,TESTCASESTEP,TESTSUITE,TESTSUITEFOLDER","projects":"CodeSnippets","mandatory":true,"mapped":"false","inUse":"Yes","fieldMasterID":1,"userFieldID":29,"projectID":1098,"isSystem":true,"isDefaultMandatory":true,"defaultValueID":""},{"label":"Description","name":"description","fieldLength":"65535","fieldType":"LARGETEXT","fieldTypeID":2,"modules":"ISSUE,REQUIREMENT,REQUIREMENTFOLDER,TASK,TESTCASE,TESTCASEFOLDER,TESTCASESTEP,TESTSUITE,TESTSUITEFOLDER","projects":"CodeSnippets","mandatory":false,"mapped":"false","inUse":"Yes","fieldMasterID":2,"userFieldID":50,"projectID":1098,"isSystem":true,"isDefaultMandatory":false,"defaultValueID":""}],"total":42}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}
            
+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch roles [/rest/admin/role/list]
### Get List [POST]
API to show list of roles

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "start" : 0,
                 "limit" : 50,
                 "page" : 1
             }

+ Response 200

    + Body

            {"data":[{"roleID":1331,"name":"r1","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1330,"description":"Newrole_1","name":"Newrole_1","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1329,"name":"Mday","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1328,"name":"NROLE","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1327,"name":"Role1","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1326,"name":"8.4.3_test3","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1325,"description":"8.4.3_test2","name":"8.4.3_test2","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1324,"description":"Role_Withoutlink_456","name":"Role_Withoutlink_456","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1318,"description":"test","name":"8.4.3_test","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1317,"description":"843_Sanity","name":"843_Sanity","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1316,"description":"Role_Withoutlink","name":"Role_Withoutlink","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1036,"name":"noAuto","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1026,"description":"Desc","name":"ProductionRole","addLdapRole":true,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":732,"name":"TestRole","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":723,"description":"role","name":"role","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":604,"description":"RoleDescription","name":"SeniorManagement","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":533,"description":"QA Analyst","name":"QA Analyst","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":472,"description":"Create_ROle","name":"Create_ROle","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":471,"description":"TestTest_title","name":"Test_title","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":470,"description":"NewRole","name":"NewRole","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":421,"name":"New Role_Edit","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":281,"description":"Read Only","name":"Read Only","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true},{"roleID":47,"description":"Admin without User Creation","name":"Manager","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":7,"description":"Tester","name":"Tester","addLdapRole":false,"isDefault":true,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true},{"roleID":6,"description":"QA Manager","name":"QA Manager","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true},{"roleID":5,"description":"Admin","name":"Admin","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true}],"total":"26"}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Fetch available Releases and Cycles [/rest/admin/scope/tree]
### Get List [POST]

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|showArchive|Send false to get only unarchived Releases, defaulted to false|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "showArchive" :false
             }

+ Response 200

    + Body

            {"text":".","children":[{"projID":1098,"type":"CodeSnippets","isArchived":false,"isLocked":false,"iconCls":"ad-project-ico","expanded":true,"children":[{"relID":2596,"type":"Default Release","isLocked":false,"scope":"release","isArchived":false,"iconCls":"ad-release-ico","expanded":true,"children":[{"cyclID":5391,"type":"Default Cycle","isLocked":false,"scope":"cycle","isArchived":false,"iconCls":"ad-cycle-ico","leaf":true}]},{"relID":3321,"type":"Realease efwsahybhip","isLocked":false,"scope":"release","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-release-ico","expanded":true,"children":[{"cyclID":6455,"type":"Cycle 15j2wgqef9v","isLocked":false,"scope":"cycle","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-cycle-ico","leaf":true},{"cyclID":6454,"type":"Default Cycle efwsahybhip","isLocked":false,"scope":"cycle","isArchived":false,"iconCls":"ad-cycle-ico","leaf":true}]},{"relID":3323,"type":"Realease ticnfa42h6a","isLocked":false,"scope":"release","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-release-ico","expanded":true,"children":[{"cyclID":6459,"type":"Cycle b9wxzkjn27l","isLocked":false,"scope":"cycle","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-cycle-ico","leaf":true},{"cyclID":6457,"type":"Default Cycle ticnfa42h6a","isLocked":false,"scope":"cycle","isArchived":false,"iconCls":"ad-cycle-ico","leaf":true}]}]}]}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}fil

# Group Custom list          
## Add list [/rest/admin/customlist/add]
### Add [POST]
API to add custom list

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|listValue|ListValues to add - Refer JSON Schema|Yes|
|Listname|Name of list|Yes|

<br><br> **NOTE:**
<ul>
<li><font size="3">Value of Listname has to be unique.</li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "listValue": [
                {
                  "Value": "0",
                  "isArchived": false,
                  "isLocked": false,
                  "Name": "Name",
                  "Alias": "Name",
                  "id": "",
                  "Id": 0
                },
                {
                  "Value": "0",
                  "isArchived": false,
                  "isLocked": false,
                  "Name": "Email",
                  "Alias": "Email",
                  "id": "",
                  "Id": 0
                }
              ],
              "Listname": "Applicants"
            }
            
    + Schema 

            "ListValue" : {
                  "type" : "object",
                  "required" : [ "alias", "createdDate", "id", "name", "value" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Name of list value"
                    },
                    "alias" : {
                      "type" : "string",
                      "description" : "Alias of list value"
                    },
                    "createdDate" : {
                      "type" : "string",
                      "description" : "Created date of the list value"
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "weightage of the list value"
                    },
                    "id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, '0' when list value is to be added"
                    }
                  }
                }

+ Response 200

    + Body

            {"success":true,"code":"AD.ADD_CUSTOMLIST_SUCCESS","data":[{"id":5396,"Listname":"Applicants"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}


+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}


+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## List [/rest/admin/customlist/list]
### Get List [POST]
API to list custom lists and dropdowns

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
                "start" : 0,
                "limit" : 50,
                "page" : 1
            }

+ Response 200

    + Body

            {"data":[{"Id":5419,"Listname":"CL27","SystemDefine":false,"noofitems":2,"projectWiseCount":2},{"Id":5418,"Listname":"CL26","SystemDefine":false,"noofitems":2,"projectWiseCount":2},{"Id":5417,"Listname":"CL25","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5416,"Listname":"CL24","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5401,"Listname":"CL22","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5400,"Listname":"CL1111","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5399,"Listname":"Custom List pen6tzo49js","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5398,"Listname":"Custom List mtyc9f2b4pc","SystemDefine":false,"noofitems":2,"projectWiseCount":2},{"Id":5397,"Listname":"Applicants","SystemDefine":false,"noofitems":3,"projectWiseCount":3},{"Id":5281,"Listname":"Req_DirectCover","SystemDefine":false,"noofitems":14,"projectWiseCount":0}],"total":102}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

        
## Delete list [/rest/admin/customlist/delete]
### Delete [POST]
API to delete custom list.

**Request Body Insight**

|Parameters|Description|Required|
|-----------|:---------|:-------|
|listId|Unique identifier of Custom-list|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the listId - Call API 'Custom list/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "listId" : 5418
             }
             
+ Response 200

    + Body

            {"success":true,"code":"AD.DELETE_CUSTOMLIST_SUCCESS"}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Fetch list items [/rest/admin/customlist/listval]
### Get List [POST]
API to list custom list values

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|qmMasterId|ID of custom list whose list values are to be obtained|Yes|
|params|Parameters - Refer JSON Schema|No|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the qmMasterId - Call API 'Custom list/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "qmMasterId": 5397,
              "params": {
                "showArchive": true
              },
              "start": 0,
              "limit": 10,
              "page": 1
            }
             
    + Schema

            "Parameters" : {
              "type": "object",
              "required": [
                "showArchive"
              ],
              "properties": {
                "showArchive": {
                  "type": "boolean",
                  "description": "Send 'true' to show archived entities",
                  "default": false
                }
              }
            }

+ Response 200

    + Body

            {"data":[{"Id":188416,"Alias":"Address[X]","Name":"Address","isArchived":true,"isLocked":false,"isSystemDefault":false,"createdDate":"2018-10-25T08:55:40"},{"Id":188415,"Alias":"Contact","Name":"Contact","isArchived":false,"isLocked":false,"isSystemDefault":false,"createdDate":"2018-10-25T08:55:40"},{"Id":188414,"Alias":"Name","Name":"NAme","isArchived":false,"isLocked":false,"isSystemDefault":false,"createdDate":"2018-10-25T08:55:40"}],"total":3}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
   
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Archive list items  [/rest/admin/customlistvalue/archive]
### Archive [PUT]
API to Archive values of custom list .

**Request Body Insight**

|Parameters|Description|Required|
|-----------|:---------|:-------|
|listDetailIDs|Unique identifier of Custom-list value|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the listDetailIDs - Call API 'Custom list/Fetch list items'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "listDetailIDs":[188489]
             }
             
+ Response 200

    + Body

            {"success":true,"code":"AD.LISTVALUE_ARCHIVE_SUCCESSFUL"}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Update list [/rest/admin/customlist/update]
### Update [POST]
API to update custom list

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|listId|Unique identifier of list which is to be updated|Yes|
|listValueDeleted|Provide listValues to be deleted|Yes|
|listValue|Provide listValues to be updated/added|Yes|


<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the listId - Call API 'Custom list/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
    <li><font size="3">To get the values for listValueDeleted and listValue - Call API 'Custom list/Fetch list items'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;] </li>
        </ul>
    </li>
    <li><font size="3">Request body must have either listValue or listValueDeleted. Data given in listvalue will be updated/added. Data given in listValueDeleted will be deleted.
        <ul>
            <li><font size="3">Note - Only archived listvalue can be deleted. To archive values call API - Custom list/Archive list items  </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
                "listId": 5435,
                "listValue": [
                    {
                      "Value": "0",
                      "isArchived": false,
                      "isLocked": false,
                      "Name": "Name_Added",
                      "Alias": "Name_Added",
                      "id": "",
                      "Id": 0
                    },
                    {
                      "isArchived": false,
                      "isLocked": false,
                      "Name": "contact_updated",
                      "Alias": "contact_updated",
                      "Id": 188489
                    }
                    ],
                    "listValueDeleted": [
                    {
                      "isArchived": false,
                      "isLocked": false,
                      "Name": "address",
                      "Alias": "address",
                      "Id": 188490
                    }
                ]
            }
            
    + Schema
    
            "ListValue" : {
                  "type" : "object",
                  "required" : [ "alias", "createdDate", "id", "name", "value" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Name of list value"
                    },
                    "alias" : {
                      "type" : "string",
                      "description" : "Alias of list value"
                    },
                    "createdDate" : {
                      "type" : "string",
                      "description" : "Created date of the list value"
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "weightage of the list value"
                    },
                    "id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, '0' when list value is to be added"
                    }
                  }
                }            

+ Response 200

    + Body

            {"success":true,"code":"AD.UPDATE_CUSTOMLIST_SUCCESS","data":[{"id":4968,"Listname":"CustomListuvr1q84kbvd"}]}
            
+ Response 400

    + Body

            {"success":false,"code":"AD.UPDATE_CUSTOMLIST_FAIL","data":[{"id":"","Listname":"jsonObj","msg":"UPDATE_CUSTOMLIST_FAIL"}]}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
# Group Project            
## Create [/rest/admin/project]
### Create [POST]
API to create project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|project|Project parameters - Refer JSON Schema|Yes|
|release|Release parameters - Refer JSON Schema|Yes|
|cycle|Cycle parameters - Refer JSON Schema|Yes|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "project": {
                "approvalWorkflow": true,
                "name": "Sales",
                "projectKey": "SAL",
                "description": "Sales Project ",
                "isRichText": true,
                "addLdapUser": false
              },
              "release": {
                "name": "Default Release",
                "description": ""
              },
              "cycle": {
                "name": "Default Cycle",
                "isLocked": false,
                "isArchived": false
              }
            }
            
    + Schema
    
             "ProjectParameters" : {
                  "type" : "object",
                  "required" : [ "name", "projectKey" ],
                  "properties" : {
                    "isAutoAddValue" : {
                      "type" : "boolean",
                      "position" : 1,
                      "description" : "Defaulted to true",
                      "default" : false
                    },
                    "approvalWorkflow" : {
                      "type" : "boolean",
                      "position" : 2,
                      "description" : "Defaulted to true. Set true to enable eSignature in the project",
                      "default" : false
                    },
                    "name" : {
                      "type" : "string",
                      "position" : 3,
                      "description" : "Name of the new project"
                    },
                    "projectKey" : {
                      "type" : "string",
                      "position" : 4,
                      "description" : "Unique key to identify the new project"
                    },
                    "addLdapUser" : {
                      "type" : "boolean",
                      "position" : 5,
                      "description" : "Set true to allow addition of LDAP users in the project",
                      "default" : false
                    }
                  }
                },
             "ReleaseParams" : {
                  "type" : "object",
                  "required" : [ "name" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "position" : 1,
                      "description" : "Name of Release"
                    },
                    "description" : {
                      "type" : "string",
                      "position" : 2,
                      "description" : "An explanation for the release."
                    }
                  }
                },
              "Cycle" : {
                  "type" : "object",
                  "required" : [ "name" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "position" : 1,
                      "description" : "Name of Cycle"
                    }

+ Response 200

    + Body

            {"success":true,"code":"AD.PROJECT_SUCCESSFUL","data":[{"projectID":1487,"releaseID":3707,"cycleID":7170}]}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## List [/rest/admin/project/list]
### Get List [POST]
API to list all projects

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|params|Parameters - Refer JSON Schema|Yes|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "start": 0,
              "limit": 50,
              "page": 1,
              "params": {
                "showArchive": false
              }
            }
    
    + Schema
    
            "Params" : {
                  "type" : "object",
                  "required" : [ "showArchive" ],
                  "properties" : {
                    "showArchive" : {
                      "type" : "boolean",
                      "description" : "Send 'true' to show archived entities",
                      "default" : false
                    }
                  }
                }

+ Response 200

    + Body

            {"data":[{"projectID":1488,"name":"APIDocProject","description":"API Project ","isArchived":false,"projectKey":"APT","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1487,"name":"APIDocProj","description":"API DOC project","isArchived":false,"projectKey":"ADP","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1486,"name":"Project 4vfelictlew","description":"Description","isArchived":false,"projectKey":"T8J","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1485,"name":"Project ziwvc95px68","description":"Description","isArchived":false,"projectKey":"XQA","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1484,"name":"Project 886gtgo93gv","description":"Description","isArchived":false,"projectKey":"HFC","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1483,"name":"Sales","description":"Sales Project ","isArchived":false,"projectKey":"SAL","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1440,"name":"Project Clone hhgzy0oiahl","description":"Description","isArchived":false,"projectKey":"E7P","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1439,"name":"Project 04i19ynafd43","description":"Description","isArchived":false,"projectKey":"4HX","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1438,"name":"Project dnvv3ae6ed4","description":"Description","isArchived":false,"projectKey":"OYE","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1437,"name":"Project g2ozlcvco68","description":"Description","isArchived":false,"projectKey":"90V","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1384,"name":"Project Clone yhfwk8j299","description":"Description","isArchived":false,"projectKey":"UXZ","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1383,"name":"Project zwxt0lja9c8","description":"Description","isArchived":false,"projectKey":"VN9","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1378,"name":"Project 97ax7deej0f","description":"Description","isArchived":false,"projectKey":"CHF","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1377,"name":"Project Clone zwq8h7nyv3s","description":"Description","isArchived":false,"projectKey":"3Z6","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1376,"name":"Project 39wqwncbhrt","description":"Description","isArchived":false,"projectKey":"I6R","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1167,"name":"Avengers","description":"","isArchived":false,"projectKey":"AVE","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":1098,"name":"CodeSnippets","isArchived":false,"projectKey":"COD","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":891,"name":"Star Wars","isArchived":false,"projectKey":"SW","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":860,"name":"8.4.1_Project_Pratik_1","description":"8.4.1_Project_Pratik_update","isArchived":false,"projectKey":"SAF","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":846,"name":"ViewIDTesting","isArchived":false,"projectKey":"VIE","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":800,"name":"AmazonDemo","isArchived":false,"projectKey":"AMA","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":789,"name":"BankingDemo_Robot","isArchived":false,"projectKey":"BAN","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":782,"name":"ABN.AMRO","description":"QTM Maven Plugin","isArchived":false,"projectKey":"ABN","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":2,"name":"Sample Domain","isArchived":false,"projectKey":"SAM","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false}],"total":24}

+ Response 400

    + Body

             {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Archive [/rest/admin/project/archive]
### Archive [PUT]
API to archive project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|Unique identifier of projects to archive|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "projectID" : [1098]
             }

+ Response 200

    + Body

            {"success":true,"code":"AD.ARCHIVE_SUCCESSFUL","data":[{"ENTITY_KEY":"{PROJECT}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            

## Unarchive [/rest/admin/project/unarchive]
### Unarchive [PUT]
API to unarchive project

**Request Body Insight**

|Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|Unique identifier of project to Unarchive|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
     <li><font size="3">While calling API 'Projects/List', keep value of 'showArchive' attribute 'true' in request body.</li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "projectID" :[1098]
             }

+ Response 200

    + Body

            {"success":true,"code":"AD.UNARCHIVE_SUCCESSFUL","data":[{"ENTITY_KEY":"{PROJECT}"}]}
            
+ Response 400

    + Body

             {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Clone [/rest/admin/project/clone]
### Clone [POST]
API to clone project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|The unique identifier of the source project|Yes|
|name|Name of the source project|No|
|clone|Type of clone:- 0 - to clone only the folder structure, along with any releases and cycles & 1 - to clone Project meta-data, Requirements, Test Cases, Test Suites and Issues|No|
|Projectkey|The unique project key of new project|Yes|
|newProject|Name of the new project|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and name - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].name </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "projectID": 1488,
              "name": "APIDocProject",
              "clone": "0",
              "Projectkey": "APJ",
              "newProject": "APIDocProject_cloned"
            }
            
+ Response 200

    + Body

            {"success":true,"code":"CO.PROJECT_CLONE_IN_PROGRESS","data":[{"filterName":" clone {PROJECT}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Delete [/rest/admin/project/delete]
### Delete [POST]
API to delete project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|Unique identifier of project to delete|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "projectID" : [1098]
             }

+ Response 200

    + Body

            {"success":true,"code":"AD.PROJECT_DELETE_INITIALISED","data":[{"ENTITY_KEY":"{PROJECT}"}]}

+ Response 400

    + Body

             {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

# Group Release          
## Create  [/rest/admin/release]
### Create [POST]
API to create release

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|release|Release Parameters - Refer JSON Schema|Yes|
|cycle|Cycle Parameters - Refer JSON Schema|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
    <li><font size="3">Date format of the 'startDate' and 'targetDate' is depend on format that has been configured in qtm. 
        <ul>
            <li><font size="3">To verify/update the Date Format - Go to qtm -> User Profile </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "release": {
                "name": "Sample Release",
                "description": "",
                "startDate": "10-16-2018",
                "targetDate": "10-26-2018",
                "projectID": "1488"
              },
              "cycle": {
                "name": "Default Cycle",
                "isLocked": false,
                "isArchived": false
              }
            }
            
    + Schema
    
             "Release" : {
                  "type" : "object",
                  "required" : [ "name", "projectID", "startDate", "targetDate" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Name of Release"
                    },
                    "startDate" : {
                      "type" : "string",
                      "description" : "Start date of the Release"
                    },
                    "targetDate" : {
                      "type" : "string",
                      "description" : "Target date of the Release"
                    },
                    "projectID" : {
                      "type" : "string",
                      "description" : "ID of project in which the Release resides"
                    }
                  }
                },
             "Cycle" : {
                  "type" : "object",
                  "required" : [ "name" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "position" : 1,
                      "description" : "Name of Cycle"
                    },
                    "isLocked" : {
                      "type" : "boolean",
                      "position" : 2,
                      "description" : "Defaulted to false",
                      "default" : false
                    },
                    "isArchived" : {
                      "type" : "boolean",
                      "position" : 3,
                      "description" : "Defaulted to false",
                      "default" : false
                    }
                  }
                }
    

+ Response 200

    + Body

            {"success":true,"code":"AD.RELEASE_SUCCESSFUL","data":[{"ENTITY_KEY":"{RELEASE}","releaseID":3717,"releaseName":"Sample Release","builds":[{"name":"Default Cycle","isArchive":false,"buildID":7181}]}]}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## List [/rest/admin/release/list]
### Get List [POST]
API to list all releases

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|params|Parameters - Refer JSON Schema|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body
    
            {
              "start": 0,
              "limit": 50,
              "page": 1,
              "params": {
                "projectID": "1493",
                "showArchive": true
              }
            }
            
    + Schema
    
             "Params" : {
                  "type" : "object",
                  "required" : [ "projectID" ],
                  "properties" : {
                    "projectID" : {
                      "type" : "string",
                      "description" : "Unique identifier of project"
                    }
                  }
                }
            
+ Response 200

    + Body

            {"data":[{"projectID":1493,"createdDate":"10-26-2018 08:21:57","releaseID":3720,"name":"Sample Release","description":"","NoofCycles":1,"isArchived":false,"targetDate":"10-26-2018 00:00:00","startDate":"10-16-2018 00:00:00","Associatedproject":"APIDocProject_cloned","isLocked":false,"isDefault":0,"filterStartDate":"2018-10-16T04:00:00","filterTargetDate":"2018-10-26T04:00:00"},{"projectID":1493,"createdDate":"10-26-2018 05:29:44","releaseID":3716,"name":"Default Release","description":"","NoofCycles":1,"isArchived":false,"Associatedproject":"APIDocProject_cloned","isLocked":false,"isDefault":1}],"total":2}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Archive [/rest/admin/release/archive]
### Archive [PUT]
API to archive release of the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|releaseID|Ids of release to archive|Yes|
|projectID|Id of project to which the release belongs|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "releaseID": [
                3724
              ],
              "projectID": "1494"
            }

+ Response 200

    + Body

            {"success":true,"code":"AD.ARCHIVE_SUCCESSFUL","data":[{"ENTITY_KEY":"{RELEASE}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}
            
+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Unarchive [/rest/admin/release/unarchive]
### Unarchive [PUT]
API to unarchive release of the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|releaseID|Ids of release to Unarchive|Yes|
|projectID|Id of project to which the release belongs|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
    <li><font size="3">While calling API 'Release/List', keep value of 'showArchive' attribute 'true' in request body.</li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "releaseID": [
                3724
              ],
              "projectID": "1494"
            }
            
+ Response 200

    + Body

            {"success":true,"code":"AD.UNARCHIVE_SUCCESSFUL","data":[{"ENTITY_KEY":"{RELEASE}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Delete [/rest/admin/release/delete]
### Delete [POST]
API to delete release of the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|releaseID|Ids of release to delete|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
    <li><font size="3">To delete the release, it has to be archived.
        <ul>
            <li><font size="3">To archive the release - Call API 'Release/Archive'</li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

             {
                 "releaseID" :[3724]
             }

+ Response 200

    + Body

            {"success":true,"code":"AD.DELETE_SUCCESSFUL","data":[{"ENTITY_KEY":"{RELEASE}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
# Group Cycle
## Create  [/rest/admin/cycle]
### Create [POST]
API to add cycle

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|cycle|Provide cycle - Refer JSON Schema|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
     <li><font size="3">Date format of the 'startDate' and 'targetDate' is depend on format that has been configured in qtm. 
        <ul>
            <li><font size="3">To verify/update the Date Format - Go to qtm -> User Profile </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "cycle": {
                "name": "Alpha_v1",
                "startDate": "10-16-2018",
                "targetDate": "10-20-2018",
                "projectID": "1494",
                "releaseID": 3729
              }
            }
            
    + Schema
    
            "CycleParams" : {
                  "type" : "object",
                  "required" : [ "name", "projectID", "releaseID" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Name of Cycle"
                    },
                    "startDate" : {
                      "type" : "string",
                      "description" : "To set StartDate of cycle"
                    },
                    "targetDate" : {
                      "type" : "string",
                      "description" : "To set TargetDate of cycle"
                    },
                    "projectID" : {
                      "type" : "string",
                      "description" : "Unique identifier of project in which the cycle is to be added"
                    },
                    "releaseID" : {
                      "type" : "integer",
                      "format" : "int32",
                      "description" : "Unique identifier of release in which the cycle is to be added"
                    }
                  }
                }

+ Response 200

    + Body
    
            {"success":true,"code":"AD.CYCLE_SUCCESSFUL","data":[{"ENTITY_KEY":"{CYCLE}","buildId":7195}],"release":"{\"data\":[{\"releaseID\":3729,\"name\":\"Alpha Release\",\"description\":\"\",\"isArchived\":false,\"targetDate\":\"10-26-2018 00:00:00\",\"createdDate\":\"10-26-2018 22:52:15\",\"startDate\":\"10-16-2018 00:00:00\"}],\"total\":null}"}
           
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## List [/rest/admin/cycle/list]
### Get List [POST]
API to Fetch cycles

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|params|Parameters - Refer JSON Schema|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute  -> data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
              "start": 0,
              "limit": 50,
              "page": 1,
              "params": {
                "releaseID": 3729,
                "showArchive": true
              }
            }
            
    + Schema

            "Param" : {
                  "type" : "object",
                  "properties" : {
                    "releaseID" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "showArchive" : {
                      "type" : "boolean",
                      "default" : false
                    }
                  }
                }

+ Response 200

    + Body

            {"data":[{"releaseID":3729,"createdDate":"10-27-2018 04:12:14","buildID":7198,"name":"Alpha_v3","isArchived":false,"targetDate":"10-20-2018 00:00:00","startDate":"10-16-2018 00:00:00","Associatedproject":"CodeSnippets","Associatedrelease":"Alpha Release","isLocked":false,"nonTestingDays":0,"totalTestinDays":0,"isDefault":0,"filterStartDate":"2018-10-16T04:00:00","filterTargetDate":"2018-10-20T04:00:00"},{"releaseID":3729,"createdDate":"10-26-2018 23:48:28","buildID":7197,"name":"Alpha_v2","isArchived":false,"targetDate":"10-20-2018 00:00:00","startDate":"10-16-2018 00:00:00","Associatedproject":"CodeSnippets","Associatedrelease":"Alpha Release","isLocked":false,"nonTestingDays":0,"totalTestinDays":0,"isDefault":0,"filterStartDate":"2018-10-16T04:00:00","filterTargetDate":"2018-10-20T04:00:00"},{"releaseID":3729,"createdDate":"10-26-2018 23:09:41","buildID":7195,"name":"Alpha_v1","isArchived":false,"targetDate":"10-20-2018 00:00:00","startDate":"10-16-2018 00:00:00","Associatedproject":"CodeSnippets","Associatedrelease":"Alpha Release","isLocked":false,"nonTestingDays":0,"totalTestinDays":0,"isDefault":0,"filterStartDate":"2018-10-16T04:00:00","filterTargetDate":"2018-10-20T04:00:00"},{"releaseID":3729,"createdDate":"10-26-2018 22:52:15","buildID":7193,"name":"Default Cycle","isArchived":false,"Associatedproject":"CodeSnippets","Associatedrelease":"Alpha Release","isLocked":false,"nonTestingDays":0,"totalTestinDays":0,"isDefault":0}],"total":4}

+ Response 400

    + Body

             {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body
    
            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Archive [/rest/admin/cycle/archive]
### Archive [PUT]
API to archive cycle of release in the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|buildID|Ids of cycle to archive|Yes|
|releaseID|Id of release to which the cycle belongs|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the buildID and releaseID - Call API 'Cycle/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].buildID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
                "buildID": [
                7195
                ],
                "releaseID": 3729
            }

+ Response 200

    + Body

            {"success":true,"code":"AD.ARCHIVE_SUCCESSFUL","data":[{"ENTITY_KEY":"{CYCLE}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Unarchive [/rest/admin/cycle/unarchive]
### Unarchive [PUT]
API to unarchive cycle of release in the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|buildID|Ids of cycle to unarchive|Yes|
|releaseID|Id of Release to which the cycle belongs|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the buildID and releaseID - Call API 'Cycle/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].buildID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
    <li><font size="3">While calling API 'Cycle/List', keep value of 'showArchive' attribute 'true' in request body.</li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            scope: default

    + Body

            {
                "buildID": [
                7195
                ],
                "releaseID": 3729
            }

+ Response 200

    + Body

            {"success":true,"code":"AD.UNARCHIVE_SUCCESSFUL","data":[{"ENTITY_KEY":"{CYCLE}"}]}
            
+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}
            
## Delete [/rest/admin/cycle/delete]
### Delete [POST]
API to delete cycle

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|buildID|Ids of cycle to delete|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the buildID - Call API 'Cycle/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].buildID </li>
        </ul>
    </li>
    <li><font size="3">To delete the cycle, it has to be archived.
        <ul>
[...]
